@font-face {
  font-family: 'oswald200';
  font-style: normal;
  src: url('oswald200.woff') format('woff');
  font-display: block;
}
@font-face {
  font-family: 'oswald300';
  font-style: normal;
  src: url('oswald300.woff') format('woff');
  font-display: block;
}

:root {
  --font-family-sans-serif: 'oswald300', sans-serif;
  --font-family-monospace: 'oswald300', sans-serif;
}

* {
  font-family: 'oswald300', sans-serif;
  max-width: 100vw;
}
body {
  color: black;
  font-family: 'oswald300', sans-serif;
  background-color: white;
  font-size: 14px;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  width: 100vw;
}
a, a:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
a:hover {
  color: #ff0033;
}
.bwhite{
  background-color: white;
}
.amarenared {
  color: #FF0033;
}
.up{
  text-transform: uppercase;
}
.pointer {
  cursor: pointer;
}
/************ body element boxes ************/
.h80{
  height: 80px;
}
.z-1{
  position: absolute;
  z-index: 1;
}
.z-2{
  position: absolute;
  z-index: 2;
}
.z-3{
  position: absolute;
  z-index: 2;
}
.o-0{
  opacity: 0;
}
.t16 {
  font-size: 16px;
}
.t18 {
  font-size: 18px;
}
.t32{
  font-size: 32px;
}
.t150x{
  font-size: 105%;
}
.none{
  display: none;
}
.navbar{
 height: 60px; 
 font-size: 150%;
}
.redrborder{
  border-right: solid 1px #ff0033;
}
.thatsamarena{
  top: 60px;
  max-width: 100%;
  animation: fadeinout 5s forwards;
}
#thatsamarenavideo{
  width: 100%;
}
.majestic{
  letter-spacing: 1.5vw;
  font-size: 7vw;
  line-height: 100%;
}
.title{
  padding-left: 12vw !important;
  padding-right: 12vw !important;
}
.noletterspacing{
  letter-spacing: 0vh;
}
.weprovide{
  font-size: 4vw;
}
.desc{
  font-size: 180%;
}
.logo {
  max-width: 30%;
  max-height: 30%;
  height: auto;
}
.contact {
  font-size:3vh;
  text-transform: uppercase;
}
.videocard {
  border-color: #FF0033;
  border-width: 0px;
}
.imgvideo{
  width: 100%;
}
.videotitle{
  font-size: 6vh;
  font-family: 'oswald200';
  color: #ff0033;
}
.videoabstract{
  font-size: 3.5vh;
  font-family: 'oswald200';
  text-align: justify;
}
.videospecstype{
  font-size: 2.5vh;
  font-family: 'oswald200';
  text-align: right;
}
.videospecs{
  font-size: 2.5vh;
  font-family: 'oswald200';
  text-align: left;
}
.footcontainer {
  background-color: white;
  position: fixed;
  bottom: 0px;
  z-index: 4;
}
.diversity{
  letter-spacing: 1px;
}

.brandrow {
  overflow: scroll;
  min-height: 9vh;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.brandrow::-webkit-scrollbar { /* Safari and Chrome */
  width: 0px; /* Remove scrollbar space */
  height: 0px;
  background: transparent;  /* Optional: just make scrollbar invisible */
}
.imgbrand {
  max-height: 9vh;
}
.moveme {
  animation-delay: 3s;
  animation-name: moveme;
  animation-duration: 15s;
  animation-timing-function: ease-out;
}
@keyframes moveme {
  0%   {right: 0%}
  50% {right: 20%}
  100% {right: 0%}
}



.imgteam {
  max-width: 26vh;
  padding: 5px;
  border: 1px solid #FF0033;
}

.modal-title{
  width: 100%;
  text-align: center;
}
.modal-footer{
  justify-content: center;
}
.btn-primary, .btn-primary:hover, .btn, .button {
  background-color: #FF0033;
  color: white;
  border: 0px;
}
.nobutton, .nobutton:hover {
  background-color: white;
  color: #FF0033
}
.nav-item.nav-item.nav-item a:active, .nav-item.nav-item.nav-item a:hover{
  color: #FF0033 !important
}

.navbrand{
  width: 20%;
  text-align: left;
}
.navcollapse{
  width: 80%;
}
.navmain {
  width: 75%;
}
.navright {
  width: 25%;
  display: inline-block;
}


@keyframes fadeinout {
  0%   {opacity: 0;}
  15% {opacity: 0;}
  100% {opacity: 100;}
}

@media only screen and (max-width: 900px) {
  .mobile{height: 380px}
  .videotitle{ font-size: 5vh; }
  .videoabstract{ font-size: 4vh; }
  .videospecstype{ font-size: 2.5vh; }
  .videospecs{ font-size: 2.5vh;}
  .majestic{ font-size: 4.5vh; letter-spacing: 0.6vw;}
  .weprovide{ font-size: 3vh; }
  .thatsamarena{animation: none; opacity: 100; top: 360px;}
  .navbrand {width: 100%}
  .redrborder{ border-right: solid 0px white}
  .modal-title {font-size: 14px !important;}
}